/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;

}

 .wrapper{
  width: 450px;
  background: hsl(0, 0%, 100%);
 }

.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .current-date{
  color: #007580;
  font-weight: bolder;
  font-size: 24px;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #FAFAFA;
}

.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #000000;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
/* sunday in red color */
.calendar .days-list .red-text{
   color: red;
}
.days-list .red-text::after {
  content: '';
  display: block;
  width: 80%;
  height: 3px;
  background-color: red;
  position: absolute;
  bottom: -5px;
  left: 10%;
  border-radius: 5px;
}
li.sunday {
  color: red;
  font-weight: bold;
}

.calendar .days-list li{
  font-weight: 500;
  cursor: default;
  position: relative;
}
.days-list li::after {
  content: '';
  display: block;
  width: 80%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  bottom: -5px;
  left: 10%;
  border-radius: 5px;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #FED049;
}
.days li:not(.active):hover::before{
  background: #FAFAFA;
}
/* circle and rectangle */

 .circle{
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 50%;
  clip-path: circle(3/4);
  display: flex;
  justify-content: center;
  align-items: center; 
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #007580,#FED049);
  background-origin: border-box;
  background-clip: content-box, border-box; 
  border: 5px solid transparent; 
 }

.container {
  display: inline-block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  margin: auto 0;
  margin-top: 80px;
}

.rectangle {
   display: flex;
   position: fixed;
   justify-content: center;
   align-items: center;
   height: 18px;
   width: 150px;
   border: none;
   border-radius: 20px;
   transform: translatey(-85%);
   background: linear-gradient(to left,#FED049,#007580);
   margin: 0 auto;
  
}


.month-number {
  font-weight: bold;
  text-align: center;
  line-height: 1;
  font-size: 50px;
  color: #007580;
  justify-content: center;
  align-items: center;
}

.year-number {
  line-height: 1px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;

}

/* highlight days */
.highlight-range {
  position: relative;
}
.highlight-range::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: lightblue;
  color: black;
}
